[user]
	name = yanyiwu
	email = wuyanyi09@foxmail.com
[alias]
	st = status
	ci = commit
    co = checkout
    pull = pull --ff-only
[color]
	ui = true
[push]
	default = simple
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
